{# assiging the region prefix to our automate our classing system for region --suffix #}
{%
  set classes = [
    'region--' ~ region|clean_class,
  ]
%}
{% if content %}
  <nav {{ attributes.addClass(classes).setAttribute('id', 'nav') }} role="banner">  
    {{ content }}
  </nav>
{% endif %}