/*
@styleguide

@title Typography

Default styles are assigned to elements.

<h1>H1 - Source Sans Pro SemiBold</h1>

    <h1>Use h1 for hero and page structure</h1>

<h1 class="section-header">Section Header - Source Sans Pro SemiBold</h1>

    <h1 class="section-header">Section-headerfor structure for alternative styling</h1>

<h2>H2 - Source Sans Pro SemiBold</h2>

    <h2>Use h2 for title and subtitle</h2>

<h4>H4 - Source Sans Pro Italic </h4>

    <h4>Use h4 for emphasis</h4>

<span style="font-weight:bold; font-size:22px;">CSS</span>
*/

//font-variables
$rembase: 10px !default;//to set up easy rem math;
$lineheight: 10px !default;//to set up easy rem math;
$primary-font: 'Source Sans Pro', Helvetica, Arial, sans-serif !default;
$secondary-font: 'Source Sans Pro', Helvetica, Arial, sans-serif !default;
$body-font-default: 'Source Sans Pro', Helvetica, Arial, sans-serif !default;

//assign our rembase to the html render
html {
  font-size: $rembase;
  line-height: $lineheight;
}

// @include font ($font, $size, $colour, $weight, $line-height);
//for false use null
@mixin font ($font: false, $size: false, $colour: false, $weight: false,  $lineheight: false) {
    @if $font { font-family: $font; }
    @if $size { font-size: $size; }
    @if $colour { color: $colour; }
    @if $weight { font-weight: $weight; }
    @if $lineheight { line-height: $lineheight; }
}

//body type styles

//default
body {
  @include font ($body-font-default, 1.6rem, $black, null, 2.3rem);
}

//our heading levels
h1 {
  @include font ($primary-font, 6.4rem, $primary-colour, 600, 6.9rem);
  @include vertical-margin($lrg-margin);
}

.section-header {
  @include font ($primary-font, 2.4rem, $primary-colour, 600, 3.9rem);
  @include vertical-margin($med-margin);
  text-transform: uppercase;
}

h2 {
  @include font ($secondary-font, 3.9rem, $primary-colour, 600, 4.6rem);
  @include vertical-margin($med-margin);
}

h4 {
  @include font ($secondary-font, 2.0rem, $black, 300, 3.1rem);
  @include vertical-margin($med-margin);
  font-style: italic;
}