{% if part_of_teaser %}

  {% for item in items %}
    {{ item.content|render|striptags }}
  {% endfor %}

{% else %}

  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  
  <div class="body-text clearfix">
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  </div>

{% endif %}
