/*
@styleguide

@title Links

Use the btn--input classes on `<input type="submit">` elements.

<a href="#">This is a link.</a>

    <a href="#">Use links consistently</a>

<span style="font-weight:bold; font-size:22px;">CSS</span>
*/

//our links
$link-colour: $primary-colour !default;
$link-hover-colour: darken($link-colour, 5%) !default;
$link-hover-bg-colour: lighten($link-colour, 65%) !default;

a {
  @include font ($body-font-default, 1.6rem, $link-colour, null, 2.3rem);

  &:link {
    text-decoration: underline;
  }

  a:visited {
    color: red;
  }

  &:hover {
    color: $link-hover-colour;
    background: $link-hover-bg-colour;
    cursor: pointer;
  }

  &:active {
    color: red;
  }

}