/bin
/html/core
/html/modules/contrib
/html/profiles/contrib
/html/themes/contrib
/html/sites/default/files
/html/libraries
vendor/
.idea
settings.local.php
.DS_Store
*--dump.sql
node_modules
/html/private
compliance_reports
.env
