/*
@styleguide

@title Icons

Use the .icn and its --modifiers to implement icons

<div class="icn-style-grid">
<i class="icn icn--linkedin"></i>

<i class="icn icn--facebook"></i>

<i class="icn icn--twitter"></i>

<i class="icn icn--chat"></i>
</div>

    <i class="icn icn--linkedin"></i>
    <i class="icn icn--facebook"></i>
    <i class="icn icn--twitter"></i>
    <i class="icn icn--chat"></i>

<span style="font-weight:bold; font-size:22px;">CSS<span>
*/

// TODO: figure out why we can not assign to i or span
.icn {
  display: block;
  text-indent: -9999px;
  width: 1.5rem;
  height: 1.5rem;
  background-size: 1.5rem 1.5rem;

  &--small {
    color: white;
  }

}

.btn-icon {
  display: none;
}

.icn--linkedin {
  background-image: url("/themes/custom/elsa/components/02-atoms/icons/linkedin-logo.svg");
  background-size: cover;
}

.icn--facebook {
  background-image: url("/themes/custom/elsa/components/02-atoms/icons/facebook-logo.svg");
  background-size: cover;
}

.icn--twitter {
  background-image: url("/themes/custom/elsa/components/02-atoms/icons/twitter-logo-silhouette.svg");
  background-size: cover;
}

.icn--chat {
  background-image: url("/themes/custom/elsa/components/02-atoms/icons/chat.svg");
  background-size: cover;
}
