/*
@styleguide

@title Breadcrumbs

Use the btn--input classes on `<input type="submit">` elements.

<ul class="breadcrumbs">
  <li><a>Linked List Item</a></li>
  <li><a>Linked List Item</a></li>
  <li><a>Linked List Item</a></li>
  <li><a>Linked List Item</a></li>
</ul>

    <ul class="breadcrumbs">
      <li><a>Linked List Item</a></li>
      <li><a>Linked List Item</a></li>
      <li><a>Linked List Item</a></li>
      <li><a>Linked List Item</a></li>
    </ul>

<span style="font-weight:bold; font-size:22px;">CSS</span>
*/

.breadcrumbs {
  @include clearfix;
  padding-left: 0;

  li {
    list-style: none;
    float: left;
    padding-right: 1rem;

    a {

      &:after {
        content: '>';
        padding-left: 1rem;
      }

    }

    &:last-child {

      a {

        &:after {
          content: none;
        }

      }

    }

  }

}
