{#
/**
 * @file
 * Theme override for tabs.
 */
#}

{%
  set classes = [
    'local-tasks',
  ]
%}

<nav {{ attributes.addClass(classes) }} role="navigation">
  <div>
    {{ content }}
  </div>
</nav>
