/*
Use the margin variables and mixins to set margin accross the theme.
*/

// margin varibles
$clear-margin: 0rem;
$sml-margin: 1rem;
$med-margin: 2rem;
$lrg-margin: 2.5rem;

//our margin mixins

//@include small-margin ($spacing);
@mixin vertical-margin ($spacing) {
  margin-bottom: $spacing;  
}

//@include small-margin ($spacing);
@mixin horizontal-margin ($spacing) {
  margin-right: $spacing;
  margin-left: $spacing;
}

//@include equal-margin ($spacing);
@mixin equal-margin ($spacing) {
  margin-top: $spacing;
  margin-bottom: $spacing;
  margin-right: $spacing;
  margin-left: $spacing;
}

//@include clear-margin;;
@mixin clear-margin {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}
